<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>Sign In</h1>
    <!-- No need for local login at the moment -->
    <!-- <form action="/users" method="post"> -->
      <!-- UserNAME: <input type="text" name="username" required> -->
      <!-- <input type="submit"> -->
    <!-- </form> -->

    <form action="/auth/google" method="post">
      <button class="btn btn-danger"><span class="fa fa-google-plus"></span> Sign in With Google!</button>
    </form>
  </body>
</html>
