<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>Sign In</h1>
    <form action="/users" method="post">
      UserNAME: <input type="text" name="username" required>
      <input type="submit">
    </form>

    <form action="/google" method="post">
      <button>Sign in With Google!</button>
    </form>
  </body>
</html>
