<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Congrats You made it :)</h1>
    <h2>Profile</h2>
    <a href="<%= img %>">Check out Your profile pic!</a>
    <ul>
      <li>Username: <%= username %></li>
      <li>Email: <%= email %></li>
      <li>GoogleID: <%= googleID %></li>
    </ul>

    <form action="/users/logout" method="post">
      <button>Log Out</button>
    </form>
  </body>
</html>
