<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Congrats You made it :)</h1>

    <form action="/users/logout" method="post">
      <button>Log Out</button>
    </form>
  </body>
</html>
